.imgshadow{
    -webkit-box-shadow: 0px 1px 15px 0px rgba(50, 50, 50, 0.8);
    -moz-box-shadow:    0px 1px 15px 0px rgba(50, 50, 50, 0.8);
    box-shadow:         0px 1px 15px 0px rgba(50, 50, 50, 0.8);
}

.btn-primary-tema{
	text-transform: uppercase;	
	color: #fff;
	background: #187CCC;
	/*font-size: 15px;*/
	padding: 3px 12px;
	border: 0 none;
	border-radius: 3px;
	-webkit-transition: background linear .2s, box-shadow linear .2s;
	-moz-transition: background linear .2s, box-shadow linear .2s;
	-o-transition: background linear .2s, box-shadow linear .2s;
	transition: background linear .2s, box-shadow linear .2s;
}

.btn-primary-tema:hover{
	background: #252528;
}